* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  background: #eceef1;
}

.sign-in-info {
  float: right;
  margin-right: 45px;
}

.container {
  display: flex;
  flex-direction: row;
  margin-top: -140px;
  margin-right: 25px;
}

.common-styles {
  margin-top: 37px;
  font-size: 12px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.signin-account{
  margin-top:14px;
}

.forgot-password a {
  text-decoration: none;
}

.signin-btn {
  margin-top: 50px;
  margin-left: 12px;
}

.signin-btn button {
  height: 35px;
  width: 90px;
  border-radius: 4px;
  background-color: #0077c5;
  color: white;
  margin-top: -2px;
  border: 1px solid;
  vertical-align: middle;
}

.signin-btn i {
  font-size: small;
  vertical-align: middle;
  margin-top: -2px;
}

.sign-up {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.form-size {
  height: 600px;
  width: 400px;
  background-color: white;
  border: 1px solid lightgray;
  position: relative;
}

.logo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.logos {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.column {
  padding-right:10px;
}

.form-header h1 {
  text-align: center;
  font-size: large;
  color: #4c4c4c;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 30px;
}

.form-header h3 {
  text-align: center;
  font-size: small;
  color: #4c4c4c;
  font-family: sans-serif;
}

.form-header a {
  text-decoration: none;
}

.element-style {
  margin-left: 35px;
  margin-top: 35px;
}

.element-style label {
  display: block;
  margin-bottom: 10px;
  margin-top: 15px;
}

.element-style input {
  width: 320px;
  height: 30px;
  border: 1px solid lightgray;
  border-radius: 4px;
}

.unlock-icon i {
position: absolute;
margin-left: 300px;
padding-top: 12px;
color: gray;
}

.element-style p {
  font-size: smaller;
  color: #4c4c4c;
}

.element-style button {
  height: 40px;
  width: 328px;
  margin-top: 35px;
  background-color: #0077c5;
  color: white;
  font-size: 15px;
  border-radius: 4px;
  border: none;
}

.element-style i {
  vertical-align: middle;
  margin-top: -3px;
}

.click-info {
  font-size: smaller;
  margin-top: 50px;
  margin-left: 35px;
  margin-right: 35px;
  font-style: italic;
  font-family: "AvenirNext", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.spacing {
  margin-left: 30px;
}

.center {
  margin-left: 120px;
}

.back-color {
  background-color: #eceef1;
  height: 35px;
  position: absolute;
  margin-top: 22px;
  width: 367.7px;
  bottom: 0;
  padding: 16px;
}

.captcha {
  margin-top: -10px;
  font-size: smaller;
  color: gray;
  text-align: center;
}

.captcha p {
  padding-top: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: smaller;
}

.captcha a {
  text-decoration: none;
}

.policies {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: small;
  margin-top: 70px;
}

.policies a {
  text-decoration: none;
  color: gray;
  padding-right: 10px;
}

.line1 {
  color: gray;
}

.line2 {
  margin-top: 2px;
  color: gray;
}

.policies,
.line1,
.line2 {
  text-align: center;
}

.blue {
  color: #0077c5;
}

.click-info a {
  text-decoration: none;
}

.element-style i {
  font-size: 16px;
}
